    
.btnTrips{  
    width: 100%;
    text-align: end;

        a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        text-decoration: none;
        color: white;
        background-color: #158a49;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;

    }
}  

/*button from loginpage*/

.loginBtn {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    background-color: #158a49 !important;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: white !important;
  }

  .submitBtn{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    background-color: #158a49 !important;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: white !important;
    border: none;
  }