    
.btnTrips{  
    width: 100%;
    text-align: end;
    padding-right: 20px;
        a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        text-decoration: none;
        color: white;
        background-color: #158a49;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;

    }
}  